body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
		font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
	-moz-osx-font-smoothing: grayscale;
	touch-action: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.greyCircleBorder {
	border: 1px solid #C0C0C0;
	border-radius: 10px;
}

.childMT10 > div {
	margin-top: 10px;
}

.my-drawer {
	position: relative;
	margin-left: -10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.my-drawer .am-drawer-sidebar .am-list {
  width: 100px;
  padding: 0;
}

.am-popover-item-container span {
  margin-left: auto;
  margin-right: auto;
}